body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* background-color: #f5f5f5; */
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  /* background: #fff; */
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 0 3px 2px #cec7c759;
  text-align: center;
}

.form-wrapper h1 {
  margin-bottom: 1em;
}

.form-wrapper form div {
  margin-bottom: 1em;
}

.form-wrapper label {
  display: block;
  margin-bottom: 0.5em;
  text-align: left;
}

.form-wrapper input {
  width: 95%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-wrapper button {
  padding: 0.5em;
  border: 1px solid #333;
  border-radius: 4px;
  background: #fff;
  color: #333;
  cursor: pointer;
  width: 100%;
  margin-top: 2em;

}

.form-wrapper button:hover {
  background: #333;
  color: #fff;
  border: 1px solid #fff;
}

.form-wrapper p {
  margin-top: 1em;
  color: #333;
}

.alert {
  padding: 1em;
  border-radius: 4px;
  background: #f8d7da;
  color: #721c24;
  margin-bottom: 1em;
}

.header {
  display: flex;
  background: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  justify-content: space-around;
  width: 100%;
}

li {
  float: left;
}

li  {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.form-wrapper2 {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu{
  display: flex;
  height: auto;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
nav{
  display: flex;
  justify-content: center;
  width: 100%;
}